.container{
  height: 100vh;
  width: 100vw;
  background-color: 	#303030;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link{
  margin:auto;
  position: relative;
  font-size:20px;
  color:darkorange;
  font-weight: 900;
}